@mixin scrollbar() {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: aliceblue;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5da0a0;
    border-radius: 5px;

    //滚动条滑块是由背景颜色和border共同渲染的
    //背景色默认入侵到 border-box
    border: 1.3px dashed transparent;

    //使用 background-clip 将背景渲染限制到 padding-box
    background-clip: padding-box;

    &:hover {
      // hover时, 额外渲染 border-width 看起来滚动条滑块就像扩大一样
      background-clip: border-box;
      background-color: teal;
    }

  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
